* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----------------------------Navbar--------------------------------- */

.navbar {
    display: flex;
    background: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 4;
    top: 0;
    justify-content: space-between;
    align-items: end;
    padding: 0 50px 10px 30px;
    width: 100vw;
    height: 10vh;
}

.logo {
    font-size: 25px;
    font-weight: 400;
}

.navLinks ul {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.navLinks ul li {
    all: unset;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

}

.navLinks ul li:hover {
    background: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.navLinks ul li a {
    all: unset;
    font-size: 14px;
    cursor: pointer;
}

.product {
    position: relative;
    top: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.product>* {
    margin: 15px;
}

.product-img {
    border: 1px solid rgb(210, 210, 210);
    display: flex;
    width: 40vw;


}

.mainImg {
    width: 100%;
    height: 420px;
}

.mainImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

.secondaryImg {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(210, 210, 210);
    /* border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210); */

}

.secondaryImg img {
    width: 5vw;
    height: 6vw;
    padding: 5px;
    border-bottom: 1px solid rgb(210, 210, 210);

}

.secondaryImg img:hover {
    border: 2px solid rgb(126, 126, 242);

}

.activeImg{
    border: 2px solid rgb(48, 48, 116);
}


/* ---------------------------------product details----------------------------- */



.product-details {
    width: 55vw;
    padding-top: 15px;
}

.product-details p {
    font-size: 10px;
    color: rgb(87, 87, 87);
    font-weight: 500;

}

.product-details h1 {
    font-size: 16px;
    margin: 18px 0 8px 0;
    color: rgb(40, 40, 40);
    font-weight: 500;
}

.product-details .old-price {
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
    color: grey;
}

.product-details .new-price {
    font-size: 20px;
}


.size-section {
    display: flex;
    gap: 20px;
    margin: 12px 0 10px 0;
}



.color-section {
    display: flex;
    gap: 10px;
    margin: 20px 0 20px 0;
}

.color-section .color {
    /* border: 1px solid rgb(154, 154, 154); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 5vw;
    height: 7vw;
    /* padding-top: 5px; */
}


.color-section .color img {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid rgb(154, 154, 154);
}

.color-section .color img:hover {
    border: 2px solid rgb(126, 126, 242);
}


hr {
    margin: 30px 0 30px 0;
}

.rec-section{
    margin: 20px;
}

.recommendation {
    /* background: red; */
    /* width: 100%; */
    height: auto;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.rec-product {
    /* background: green; */
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    width: 15vw;
    height: 20vw;
    /* fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rec-product img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    padding: 10px;

}